article {
  position: relative;
}

h1 {
  font-size: 4em;
  margin-right: 1em;
}

.main-wrapper {
  position: relative;
  transition: ease-in .2s;
  border: solid 1px lightgray;
  padding-bottom: 1em;
  margin: 1em 0.5em;
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.franchise-logo {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 25px;
}

.franchise-main-info {
  display: flex;
  align-items: flex-start;
}

.franchise-main-info > * {
  margin: 1em;
}

.franchise-text {
  font-size: 1.75em;
}

.franchise-text > a {
  text-decoration: none;
}

h3, .franchise_address {
  margin: 0;
}


.delete-button {
  position: absolute;
  top: 25px;
  right: 30px;
  cursor: pointer;
}

.edit-button {
  position: absolute;
  top: 25px;
  right: 100px;
}

/* The switch - the box around the slider */
.slider-block {
  position: relative;
  display: inline-block;
  width: 115px;
  height: 50px;
}

/* Hide default HTML checkbox */
.switch {
  opacity: 1;
  width: 0;
  height: 0;
  z-index: 999;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #df9a9a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch > input:checked + .slider {
  background-color: #c4dfaa;
}

.switch > input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch > input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(64px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-block > input:checked + .slider {
  background-color: #2196F3;
}

.slider-block > input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.slider-block > input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.franchise-more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

.btn-see-more {
  transition: ease-in-out .6s;
  font-size: 2em;
  padding: 0.4em 1em;
  border-radius: 50px;
  border: 2px solid #c72868;
  background-color: transparent;
  color: #c72868;
  font-weight: bold;
}

.btn-see-more:hover {
  transition: ease-in-out .4s;
  background-color: #c72868;
  color: white;
  display: flex;
  justify-content: center;
}

.btn-see-more:hover > * {
  transition: ease-in-out .6s;
  color: white;
  display: block;
}

.btn-see-more > a {
  text-decoration: none;
  color: #c72868;
}

.see-more-dots {
  transition: ease-in-out .4s;
  display: none;
}

/* ipad landscape breakpoint */
@media screen and (min-width: 1180px) {
  .franchise-text {
    max-width: 250px;
  }

  #content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .franchise-logo {
    min-width: 115px;
    min-height: 115px;
    max-width: 115px;
    max-height: 115px;
  }


  .franchise-main-info > * {
    margin: 1em;
  }

  .franchise-text {
    font-size: 0.8em;
    margin-top: 2em;
    margin-left: 0;
  }

  .slider-block {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 27px;
  }

  .slider:before {
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
  }
  .switch > input:checked + .slider:before {
    transform: translateX(30px);
  }

  .btn-see-more {
    font-size: 0.8em;
  }

  .edit-button > *, .delete-button > * {
    height: 1.8em;
    width: 1.8em;
  }

  .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .edit-button {
    position: absolute;
    top: 10px;
    right: 40px;
  }
}

/* desktop breakpoint */
@media screen and (min-width: 1460px) {
  .franchise-text {
    max-width: 300px;
  }

  .franchise-logo {
    min-width: 130px;
    min-height: 130px;
    max-width: 130px;
    max-height: 130px;
  }

  .franchise-text {
    font-size: 0.9em;
    margin-top: 2em;
    margin-left: 0;
  }

  .slider-block {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 30px;
  }

  .slider:before {
    height: 25px;
    width: 25px;
    left: 2px;
    bottom: 2px;
  }
  .switch > input:checked + .slider:before {
    transform: translateX(35px);
  }

  .btn-see-more {
    font-size: 1em;
  }

  .delete-button {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .edit-button {
    position: absolute;
    top: 10px;
    right: 55px;
  }

}