/* The Modal (background) */
.modal, .deleteModal, .update-modal, .global-perm-modal, .update-structure-perms-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#myBtn {
  transition: ease-in 5s;
  display: none;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  padding: 0;
  border-radius: 35px;
}

.modal-text {
  text-align: center;
  font-size: 2.5em;
  border-bottom: solid 2px gray;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 0;
}

.franchise-modal-warning-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.franchise-warning-sub-text {
  font-weight: bold;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.modal-structure-name {
  font-weight: bold;
}

.form-button, #close-global-perms {
  transition: ease-in-out .4s;
  width: 50%;
  height: 2em;
  border-radius: 50px;
  border: none;
  font-size: 2.5em;
  background-color: rgb(255, 107, 129, 0.5);
  color: whitesmoke;
  font-weight: bold;
  margin: 1em;
  cursor: pointer;
}

.close-button:hover, .close-delete:hover, .close-update-structure-perms:hover {
  transition: ease-in-out .2s;
  color: #ff6348;
  border: solid 2px #ff6348;
  background-color: white;
}

.form-button > a {
  text-decoration: none;
  color: white;
}

.close-button, .close-delete, #close-global-perms, .close-update-structure-perms {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6348;
}

.update-active-button {
  display: flex;
  justify-content: center;
}

.highlight-active, .highlight-desactive {
  font-weight: bold;
}

.highlight-active {
  color: #c4dfaa;
}

.highlight-desactive {
  color: #ff6348;
}

.input-active {
  transition: ease-in-out .4s;
  background-color: #c4dfaa;
  font-size: 1em;
  color: white;
  border: none;
  font-weight: bold;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  height: 2em;
}

.input-active:hover, .confirm-update-form:hover {
  transition: ease-in-out .2s;
  color: #c4dfaa;
  border: solid 2px #c4dfaa;
  background-color: white;
}

.btn-confirm-delete, .btn-confirm-perms, .confirm-update-form {
  background-color: #c4dfaa;
}

#btn-global-perms {
  display: none;
}

/* ipad landscape breakpoint */
@media screen and (min-width: 1180px) {
  /* Modal Content/Box */
  .modal-content {
    width: 40%; /* Could be more or less, depending on screen size */
  }

  .modal-text {
    font-size: 1.25em;
  }

  .form-button, #close-global-perms {
    width: 30%;
    height: 2em;
    font-size: 1.25em;
  }
}

/* desktop breakpoint */
@media screen and (min-width: 1460px) {
  /* Modal Content/Box */
  .modal-content {
    width: 25%; /* Could be more or less, depending on screen size */
  }
}
