@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
  font-family: 'Prompt', sans-serif;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding-logo {
  border-radius: 50%;
  min-width: 175px;
  display: flex;
  font-size: 3.5em;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.nav-links {
  margin-right: 2em;
}

/* Sidenav menu */
.sidenav {
  transition: ease-in 0.4s;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 999;
  top: 0;
  right: -300px;
  background: linear-gradient(lightcoral, lightsalmon);
  padding-top: 60px;
}

/* Sidenav menu links */
.sidenav a {
  text-decoration: none;
  font-size: 2em;
  color: whitesmoke;
  display: block;
  margin: 1em 0;
  transition: 0.3s;
}

.sidenav a:hover {
  transition: ease-in 0.2s;
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2em;
}

/* Active class */
.sidenav.active {
  transition: ease-in 0.2s;
  right: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: -75px;
  right: 25px;
  font-size: 4em;
}

/* Icône burger */
.burger-icon span {
  display: block;
  height: 6px;
  background-color: black;
  margin: 10px 2.5em;
}

 /* Style The Dropdown Button */
 .dropbtn {
   transition: ease-in-out .4s;
   cursor: pointer;
   min-width: 5em;
   min-height: 5em;
 }

 .dropbtn > *:hover {
   transition: ease-in-out .2s;
   color: black;
 }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-content-customer {
  display: none;
  position: absolute;
  min-width: 100%;
  font-size: 1em;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content {
  top: 80px;
}

.dropdown-customer {
  top: 5em;
  right: -30px;
  min-width: 25em;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.7em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#span-top {
  width: 60px;
}

#span-mid {
  width: 45px;
}

#span-bot {
  width: 30px;
}

.link-navbar {
  display: none;
}

/* ipad landscape breakpoint */
@media screen and (min-width: 1180px) {
  .branding-logo {
    font-size: 2em;
    min-width: 115px;
  }

  .dropbtn {
    min-width: 3em;
    min-height: 3em;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    font-size: 1em;
  }

  .dropdown-customer {
    min-width: 15em;
  }
}

/* desktop breakpoint */
@media screen and (min-width: 1460px) {
  .branding-logo {
    font-size: 2em;
  }

  #navigation-menu {
    display: none;
  }

  .link-navbar {
    display: flex;
  }

  .link-navbar > * {
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: flex;
    justify-content: center;
  }

  .nav-links > * {
    margin-right: 3em;
    font-size: 1.25em;
  }

  ul {
    list-style: none;
  }

  li > a{
    transition: ease-in .4s;
    text-decoration: none;
    color: black;
  }
  .dropdown {
    width: auto;
  }

  .dropbtn {
    min-height: 3em;
    min-width: 3em;
  }

  a:hover, .dropdown:hover {
    transition: ease-in .2s;
    color: lightcoral
  }

  .dropdown-content {
    right: -75px;
    top: 65px;
    min-width: 15em;
  }

  .dropdown-content > a {
    font-size: 1em;
  }
}