@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.title-wrapper > h1 > span {
  color: #d12e67;
}

.main-title {
  margin: 2em 1em 0 1em;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  margin: 0;
}

h2 {
  font-size: 3em;
}

form {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.form-label {
  margin-bottom: 0.75em;
}

.form-label > * {
  font-size: 2.5em;
}

.form-input > * {
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  border-color: lightsalmon;
  min-width: 80vw;
  min-height: 2em;
  font-size: 2em;
}

.message {
  height: 10em;
  resize: none;
  font-size: 1em;
}

.franchise-logo {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

.form-button {
  transition: ease-in-out .4s;
  cursor: pointer;
  width: 100%;
  height: 2.5em;
  border-radius: 50px;
  border: none;
  font-size: 2.5em;
  background-color: rgb(255, 107, 129, 0.5);
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 2em;
}

.form-button:hover {
  transition: ease-in-out .2s;
  opacity: 0.8;
}

.form-permissions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-error {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: ease-in .2s;
  font-size: 2em;
  color: #ff5a79;
  max-width: 80vw;
  margin: 1em 0;
}

.form-error > * {
  list-style: none;
  padding: 0;
}

.password-errors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.password-errors > * {
  text-align: left;
  color: black;
  font-size: 1em;
  margin: 0;
}

/* The switch - the box around the slider */
.slider-block {
  position: relative;
  display: inline-block;
  width: 115px;
  height: 50px;
}

/* Hide default HTML checkbox */
.switch {
  opacity: 1;
  width: 0;
  height: 0;
  z-index: 999;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #df9a9a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch > input:checked + .slider {
  background-color: #c4dfaa;
}

.switch > input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch > input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(64px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-block > input:checked + .slider {
  background-color: #2196F3;
}

.slider-block > input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.slider-block > input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#select_user_franchise {
  display: none;
}

#user_franchise {
 font-size: 0.8em;
}

/* ipad landscape breakpoint */
@media screen and (min-width: 1180px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }

  .form-label > * {
    font-size: 1.5em;
  }

  .form-input > * {
    padding-left: 0.5em;
    min-width: 60vw;
    min-height: 2.25em;
    font-size: 1em;
  }

  .message {
    height: 10em;
    font-size: 1em;
    resize: none;
  }

  .franchise-logo {
    max-width: 150px;
    max-height: 150px;
  }

  .slider-block {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 35px;
  }

  .slider:before {
    height: 30px;
    width: 30px;
    left: 2px;
    bottom: 2px;
  }
  .switch > input:checked + .slider:before {
    transform: translateX(35px);
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
  }

  .form-button {
    width: 40%;
    height: 2em;
    font-size: 1.5em;
  }

  .form-error {
    font-size: 1em;
    max-width: 60vw;
  }

  .row-error {
    flex-direction: row;
  }

  .row-error > * {
    margin-right: 1em;
  }
}

/* desktop breakpoint */
@media screen and (min-width: 1460px) {

  .form-label > * {
    font-size: 1.25em;
  }

  .form-input > * {
    min-width: 40vw;
    min-height: 2.25em;
    font-size: 1em;
  }

  .form-button {
    width: 25%;
    height: 1.75em;
    font-size: 1.5em;
  }
}