#franchise-branding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.franchise-logo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 5em;
}

#main-title {
  font-size: 3em;
  margin: 1em 0 0;
}

.franchise-url {
  font-size: 2em;
  text-decoration: none;
}

.franchise-info-wrapper, .franchise-permissions {
  border: solid 1px grey;
  margin: 1.5em 0.7em;
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.franchise-main-info {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em;
}

.franchise-more-info {
  justify-content: flex-end;
}

.full-description {
  display: flex;
  flex-direction: column;
}

.contact-email, .customer_address {
  display: flex;
  align-items: center;
}

.contact-email > *, .customer_address > * {
  font-size: 2.15em;
  margin: 0.25em 0;
}

.contact-email > p, .customer_address > p {
  margin-left: 1em;
}

.full-description > * {
  font-size: 2em;
  margin: 0;
}

.toggle-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.form-button {
  width: 50%;
  height: 2em;
  border-radius: 50px;
  border: none;
  font-size: 2.5em;
  background-color: rgb(255, 107, 129, 0.5);
  color: whitesmoke;
  font-weight: bold;
  margin: 1em 0;
}

.form-permissions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

h2 {
  font-size: 2.5em;
  margin: 0.75em;
}

.form-permissions > * {
  margin: 1em;
  font-size: 2.25em;
}

#filter-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.add-structure-title {
  font-size: 4em;
}

.structure-main-info {
  display: flex;
  align-items: center;
}

#empty-structure {
  display: flex;
  justify-content: center;
}

#empty-structure > p {
  font-size: 2em;
}

.structure-perms-form {
  display: flex;
  flex-wrap: wrap;
}

/* ipad landscape breakpoint */
@media screen and (min-width: 1180px) {
  .franchise-logo {
    width: 175px;
    height: 175px;    margin-top: 1em;
  }

  #main-title {
    font-size: 1.5em;
  }

  .franchise-url {
    font-size: 1em;
  }

  .global-perm-title {
    margin: 1em 1em 0;
    font-size: 1.25em;
  }

  .franchise-main-info > * {
    margin: 0.5em;
  }

  .contact-email > *, .customer_address > * {
    font-size: 1em;
  }

  .full-description > * {
    font-size: 1em;
  }

  .toggle-btn-wrapper {
    margin: 0 1.5em 1em 0;
  }

  h2 {
    font-size: 1em;
    margin: 0 1em;
  }

  #form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-permissions {
    font-size: 0.5em;
    justify-content: center;
    width: auto;
  }

  .form-label {
    width: 215px;
  }

  .add-structure-title {
    font-size: 2em;
  }

  #content {
    display: flex;
    flex-direction: column;
  }

  .button-wrapper {
    justify-content: flex-end;
  }
}

/* desktop breakpoint */
@media screen and (min-width: 1460px) {
  .franchise-wrapper {
    display: flex;
  }

  .franchise-info-wrapper {
    width: 60vw;
  }

  .global-perm-title {
    text-align: center;
  }

  .franchise-permissions {
    width: 40vw;
    flex-direction: row;
    justify-content: center;
  }

  .global-perm-title {
    margin: 1em 1em 0;
    font-size: 1.25em;
  }

  #form-container {
    flex-direction: row;
    justify-content: center;

  }

  .form-label {
    width: 215px;
  }
}








