@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
  margin: 0;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100vw;
  font-family: 'Prompt', sans-serif;
  background: linear-gradient(lightcoral, lightsalmon);
}

.from-wrapper, .form-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.from-wrapper > * {
  margin: 1em;
}

.branding-logo {
  border-radius: 50%;
  min-width: 175px;
  margin-right: 0.5em;
}

.form-title {
  font-size: 5em;
  color: white;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;

}

.form-field > label {
  margin-bottom: 0.3em;
  color: white;
  font-size: 3em;
}

.form-field > input {
  border-radius: 20px;
  border-color: lightsalmon;
  min-width: 80vw;
  min-height: 2em;
  font-size: 2em;
}

.form-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease-in .2s;
  text-align: center;
  color: white;
  font-size: 2.5em;
  width: 80vw;
}

.form-button {
  width: 90%;
  height: 2.5em;
  border-radius: 50px;
  border: solid 2px whitesmoke;
  font-size: 2.5em;
  background-color: rgb(255, 107, 129, 0.5);
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 4em;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  cursor: pointer;
}

/* ipad landscape breakpoint */
@media screen and (min-width: 1180px) {
  .branding-logo {
    min-width: 50px;
  }

  .form-title {
    font-size: 3em;
  }

  .form-field > label {
    margin-bottom: 0.3em;
    color: white;
    font-size: 1.5em;
  }

  .form-field > input {
    min-width: 50vw;
    min-height: 1.8em;
    font-size: 1em;
    padding-left: 0.5em;
  }

  .form-button {
    width: 50%;
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }


  .form-error {
    font-size: 1.25em;
    width: 50vw;
  }
}

/* desktop breakpoint */
@media screen and (min-width: 1460px) {
  .from-wrapper, .form-fields {
    justify-content: center;
  }

  .form-field > input {
    min-width: 25vw;
  }

  .form-button {
    transition: ease-in-out .4s;
    width: 20vw;
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }

  .form-button:hover {
    transition: ease-in-out .2s;
    background-color: rgba(255, 107, 129, 0.7);
  }
}

