@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
  margin: 0;
  background: linear-gradient(lightcoral, lightsalmon);
  height: 100vh;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 96vh;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  color: white;
  text-align: center;
}

main > * {
  margin: 1em 2em;
}

h1 {
  font-size: 4em;
  width: 100%;
}

p {
  font-size: 1.6em;
}

.highlight-active {
  font-weight: bold;
}

a {
  transition: ease-in-out .6s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3em;
  background-color: white;
  color: #fc9a7b;
  padding: 0 1em;
  border-radius: 50px;
}

a:hover {
  transition: ease-in-out .3s;
  transform: translateX(-180px);
}

