<div id="filters">
    <section id="checkbox-filter">
        <div class="js-filter">
            <input type="radio" name="check-box-filter" id="filter" value="1">
            <label for="check-box-filter">Actives</label>
        </div>
        <div class="js-filter">
            <input type="radio" name="check-box-filter" id="filter" value="0">
            <label for="check-box-filter">Desactivées</label>
        </div>
        <div class="js-filter">
            <input type="radio" name="check-box-filter" id="filter" value="all" checked>
            <label for="check-box-filter">Toutes</label>
        </div>
    </section>
    <section id="search-filter">
        <input type="search" placeholder="Chercher une franchise...">
    </section>
</div>