<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta title="confirm created account">
</head>
    <body>
        <main>
            <h1>La structure {{ structure.getStructureName }} a été créee ✅</h1>

            <p>Vous retrouverez toutes ces informations directement dans votre espace franchise</p><a href="www.justsport.com">JustSport</a>

            <p>Nous restons à votre disposition</p>

            <p>Bien cordialement,</p>
            <p>JustSport</p>
        </main>
    </body>
</html>