<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta title="confirm created account">
</head>
    <body>
        <main>
            <h1>Bienvenue chez JustSport</h1>

            <p>Vous trouverez ci-dessous vos identifiants afin de vous connecter à la plateforme</p>
            <a href="www.justsport.com">JustSport</a>

            <p>Email : {{ user.email }}</p>
            <a href="change-password/{{user.token}}">Modifier le mot de passe provisoire</a>

            <h2>Attention,pour des questions de sécurité, vous devez créer votre mot de passe en suivant le lien ci-dessus</h2>

            <p>Nous restons à votre disposition</p>

            <p>Bien cordialement,</p>
            <p>JustSport</p>
        </main>
    </body>
</html>