<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta title="confirm update franchise">
</head>
    <body>
        <main>
            <h1>Confirmation de modification de votre structure</h1>

            <p>Votre structure {{ structure.structureName }} a été modifiée </p>

            <p>
                Connectez-vous à votre espace structure sur la plateforme
                <a href="www.justsport.com">JustSport</a>
                pour consulter les changements.
            </p>

            <p>Nous restons à votre disposition</p>

            <p>Bien cordialement,</p>
            <p>JustSport</p>
        </main>
    </body>
</html>