<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta title="confirm update franchise">
</head>
    <body>
        <main>
            <h1>Suppression de votre franchise</h1>

            <p>Votre franchise {{ franchise.clientName }} a été supprimée </p>

            <p>Nous restons à votre disposition</p>

            <p>Bien cordialement,</p>
            <p>JustSport</p>
        </main>
    </body>
</html>